In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\01-02\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\01-02\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install faker

Collecting faker
  Downloading Faker-19.8.0-py3-none-any.whl (1.7 MB)
                                              0.0/1.7 MB ? eta -:--:--
     ---------                                0.4/1.7 MB 8.5 MB/s eta 0:00:01
     --------------------                     0.9/1.7 MB 9.5 MB/s eta 0:00:01
     --------------------------------         1.4/1.7 MB 9.7 MB/s eta 0:00:01
     ---------------------------------------  1.7/1.7 MB 9.9 MB/s eta 0:00:01
     ---------------------------------------- 1.7/1.7 MB 9.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in c:\users\01-02\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\01-02\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.8.0
Note: you may need to restart the kernel to use updated packages.

In [24]:
import pandas as pd
import random
import faker
import string
from datetime import datetime, timedelta

# 무작위 데이터 생성을 위한 가짜 데이터 생성기 생성
fake = faker.Faker('ko_KR')  # 한국어 데이터 생성을 위해 'ko_KR' 로 설정

# 데이터 프레임을 위한 빈 리스트 생성
data = []

# 레코드 수 (100개)만큼 반복하여 무작위 데이터 생성
for _ in range(100):
    # 전화번호를 한국식으로 생성 (예: 010-1234-5678)
    phone_number = str(fake.random_int('010', '02', '016', '017'))
    phone_number += '-' + str(fake.random_int(min=1000, max=9999))
    phone_number += '-' + str(fake.random_int(min=1000, max=9999))
    
    # 영문과 숫자를 조합하여 ID 생성
    id_length = 10  # ID의 길이를 조절할 수 있습니다.
    id_characters = string.ascii_letters + string.digits
    generated_id = ''.join(random.choice(id_characters) for _ in range(id_length))
    
    # 가입 날짜 (JOIN_DATE) 생성 (2023년 7월 1일부터 2023년 10월 10일까지)
    start_date = datetime(2023, 7, 1)
    end_date = datetime(2023, 10, 10)
    join_date = fake.date_between_dates(start_date, end_date).strftime('%Y-%m-%d')
    
    data.append({
        'NAME': fake.name(),
        'ID': generated_id,
        'PASSWORD': fake.password(),
        'BIRTHDATE': fake.date_of_birth(minimum_age=18, maximum_age=90).strftime('%Y-%m-%d'),
        'PHONE_NUMBER': phone_number,
        'EMAIL_ADDRESS': fake.email(),
        'ADDRESS': fake.address(),
        'JOIN_DATE': join_date,
        'GENDER_ID': random.choice(['남', '여'])
    })

# 데이터 프레임 생성
df = pd.DataFrame(data)

# 데이터 프레임 출력
print(df)

TypeError: BaseProvider.random_int() takes from 1 to 4 positional arguments but 5 were given

In [18]:
df = pd.DataFrame(df)
df

,NAME,ID,PASSWORD,BIRTHDATE,PHONE_NUMBER,EMAIL_ADDRESS,ADDRESS,UNIQUE_ID,GENDER_ID
0,유미정,JddSbGAyLY,o7$7Pdqbws,1995-01-31,90-9030-6737,jeonghun13@example.org,경상북도 김포시 서초대가 (미경이마을),7751,여
1,남서영,oeXGNzvbls,$4@PdBgFK9,1945-01-05,15-8811-1098,misugryu@example.org,전라북도 성남시 수정구 압구정길 (정순김면),3245,여
2,장성수,IKlVpxowD6,!NXYYgY+p4,1975-11-18,64-5916-5911,hgim@example.net,울산광역시 성북구 서초대로 (순옥최나읍),4552,남
3,김민수,J0BNckmpKE,uV8JDClkl$,1980-02-22,81-1098-3678,yeongsug74@example.org,세종특별자치시 관악구 언주로 (광수최이마을),8395,여
4,이정수,TpaYcuFioM,ZKcCC2%m#4,2000-09-08,18-3048-8389,gyeongsujin@example.net,제주특별자치도 성남시 반포대835로 (예준하리),1275,남
...,...,...,...,...,...,...,...,...,...
95,손지후,aAIs7kAoe8,Bc9yXyE#r*,1969-08-17,58-1454-3366,imeunyeong@example.org,제주특별자치도 공주시 테헤란45로,4780,여
96,박은정,zTEDBhSQWS,7BZMEezi@e,1967-04-22,63-7001-2103,jihu42@example.com,대구광역시 성북구 도산대9거리 (지은황마을),7682,남
97,박예준,QyGpMqasnN,&9WFihXmDf,1944-02-04,56-8885-2118,sugja21@example.net,강원도 정선군 개포로 (예준박읍),2359,여
98,황영희,pTmi50nEkp,@4H1nklQ+z,1967-04-29,75-8391-7753,jiyeong70@example.org,전라남도 포천시 역삼2가,2881,남
99,김영희,U1W5LxvwyZ,%6L08DESfT,1982-12-07,10-4566-2203,rjeon@example.com,전라남도 연천군 서초대012길 (성수김강마을),1325,여

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           100 non-null    object
 1   ID             100 non-null    object
 2   PASSWORD       100 non-null    object
 3   BIRTHDATE      100 non-null    object
 4   PHONE_NUMBER   100 non-null    object
 5   EMAIL_ADDRESS  100 non-null    object
 6   ADDRESS        100 non-null    object
 7   UNIQUE_ID      100 non-null    int64
 8   GENDER_ID      100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB

In [21]:
df.to_csv('../../datasets/dummydata1.csv', index=False)