In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\01-02\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\01-02\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install faker

Collecting faker
  Downloading Faker-19.8.0-py3-none-any.whl (1.7 MB)
                                              0.0/1.7 MB ? eta -:--:--
     ---------                                0.4/1.7 MB 8.5 MB/s eta 0:00:01
     --------------------                     0.9/1.7 MB 9.5 MB/s eta 0:00:01
     --------------------------------         1.4/1.7 MB 9.7 MB/s eta 0:00:01
     ---------------------------------------  1.7/1.7 MB 9.9 MB/s eta 0:00:01
     ---------------------------------------- 1.7/1.7 MB 9.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in c:\users\01-02\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\01-02\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.8.0
Note: you may need to restart the kernel to use updated packages.

In [47]:
import pandas as pd
import random
import string
from datetime import datetime, timedelta

# 서울 도로명주소 리스트 생성
seoul_streets = [
    '서울특별시 강남구 강남대로 100번길',
    '서울특별시 강동구 천호대로 200번길',
    '서울특별시 강북구 덕릉로 300번길',
    '서울특별시 강서구 양천로 400번길',
    '서울특별시 관악구 관악로 500번길',
    '서울특별시 광진구 광나루로 600번길',
    '서울특별시 구로구 구로로 700번길',
    '서울특별시 금천구 시흥대로 800번길',
    '서울특별시 노원구 노원로 900번길',
    '서울특별시 도봉구 도봉로 1000번길',
    '서울특별시 동대문구 천호대로 1100번길',
    '서울특별시 동작구 동작대로 1200번길',
    '서울특별시 마포구 마포대로 1300번길',
    '서울특별시 서대문구 이화여대길 1400번길',
    '서울특별시 서초구 강남대로 1500번길',
    '서울특별시 성동구 왕십리로 1600번길',
    '서울특별시 성북구 성북로 1700번길',
    '서울특별시 송파구 올림픽로 1800번길',
    '서울특별시 양천구 목동동로 1900번길',
    '서울특별시 영등포구 영등포로 2000번길',
    '서울특별시 용산구 이태원로 2100번길',
    '서울특별시 은평구 은평로 2200번길',
    '서울특별시 종로구 종로 2300번길',
    '서울특별시 중구 중구로 2400번길',
    '서울특별시 중랑구 중랑로 2500번길',
]

# 데이터 프레임을 위한 빈 리스트 생성
data = []

# 무작위 데이터 생성을 위한 가짜 데이터 생성기 생성
fake = faker.Faker('ko_KR')  # 한국어 데이터 생성을 위해 'ko_KR' 로 설정

# 레코드 수 (100개)만큼 반복하여 무작위 데이터 생성
for _ in range(100):
    # 전화번호의 앞 부분을 랜덤하게 선택
    phone_prefix = random.choice(['010', '02', '016', '017'])
    
    # 나머지 부분을 무작위로 생성
    phone_number = phone_prefix + '-' + str(fake.random_int(min=1000, max=9999))
    phone_number += '-' + str(fake.random_int(min=1000, max=9999))
    
    # 영문과 숫자를 조합하여 ID 생성
    id_length = 10  # ID의 길이를 조절할 수 있습니다.
    id_characters = string.ascii_letters + string.digits
    generated_id = ''.join(random.choice(id_characters) for _ in range(id_length))
    
    # 가입 날짜 (JOIN_DATE) 생성 (2023년 7월 1일부터 2023년 10월 10일까지)
    start_date = datetime(2023, 7, 1)
    end_date = datetime(2023, 10, 10)
    join_date = fake.date_between_dates(start_date, end_date).strftime('%Y-%m-%d')
    
    # 서울 도로명주소 중 하나를 무작위로 선택
    address = random.choice(seoul_streets)
    
    data.append({
        'NAME': fake.name(),
        'ID': generated_id,
        'PASSWORD': fake.password(),
        'BIRTHDATE': fake.date_of_birth(minimum_age=18, maximum_age=90).strftime('%Y-%m-%d'),
        'PHONE_NUMBER': phone_number,
        'EMAIL_ADDRESS': fake.email(),
        'ADDRESS': address,
        'JOIN_DATE': join_date,
        'GENDER_ID': random.choice(['남', '여'])
    })

# 데이터 프레임 생성
df = pd.DataFrame(data)

# 데이터 프레임 출력
print(df)

   NAME          ID    PASSWORD   BIRTHDATE   PHONE_NUMBER  \
0   백현정  Iv4ZINc7Sb  w+(o2PEeM#  1994-07-01  010-6205-6216
1   성중수  F3O68nF9xa  &&u9xKsvUU  1958-05-24   02-1797-9003
2   김지훈  7m5d19sIL5  *^!j3HXwLZ  1941-12-17   02-3350-2547
3   이영식  Y1DbTobuz4  0nouTyMZ$4  1938-07-18  016-7639-8751
4   김하윤  w0zO9YQ1iO  1Mi63VOcM_  1969-07-27  017-2215-7584
..  ...         ...         ...         ...            ...
95  고아름  20yea5k17g  %N3T6tBjj&  1979-12-24  017-1320-7195
96  이정숙  NWcGiRY2rQ  #l%Zhl^_!8  1993-07-10  010-5328-9392
97  이상훈  sRK75wcKTk  )7@KtRjmR7  1989-11-01  010-2570-7896
98  송현우  auh9jNElAL  sg_G7GMYV_  1993-10-24  010-8493-3856
99  노지혜  uS0FMoLlSl  CvTRFevA+7  1938-03-10   02-4867-3183

               EMAIL_ADDRESS                ADDRESS   JOIN_DATE GENDER_ID
0    yeonggilcoe@example.net  서울특별시 양천구 목동동로 1900번길  2023-07-27         여
1       miyeongi@example.com   서울특별시 강동구 천호대로 200번길  2023-07-13         남
2       hyejin35@example.net    서울특별시 관악구 관악로 500번길  2023-08-10         여
3    yeongsungim@example.com    서울특별시 강북구 덕릉로 300번길  2023-09-13         남
4       minjun91@example.net  서울특별시 동작구 동작대로 1200번길  2023-09-29         여
..                       ...                    ...         ...       ...
95     yejunjang@example.com  서울특별시 동작구 동작대로 1200번길  2023-07-10         여
96    hyeonsug12@example.com  서울특별시 마포구 마포대로 1300번길  2023-07-18         남
97      ijeongho@example.net    서울특별시 종로구 종로 2300번길  2023-07-26         남
98       junho71@example.org  서울특별시 양천구 목동동로 1900번길  2023-09-10         남
99  baegmigyeong@example.org    서울특별시 종로구 종로 2300번길  2023-09-12         여

[100 rows x 9 columns]

In [48]:
df = pd.DataFrame(df)
df

,NAME,ID,PASSWORD,BIRTHDATE,PHONE_NUMBER,EMAIL_ADDRESS,ADDRESS,JOIN_DATE,GENDER_ID
0,백현정,Iv4ZINc7Sb,w+(o2PEeM#,1994-07-01,010-6205-6216,yeonggilcoe@example.net,서울특별시 양천구 목동동로 1900번길,2023-07-27,여
1,성중수,F3O68nF9xa,&&u9xKsvUU,1958-05-24,02-1797-9003,miyeongi@example.com,서울특별시 강동구 천호대로 200번길,2023-07-13,남
2,김지훈,7m5d19sIL5,*^!j3HXwLZ,1941-12-17,02-3350-2547,hyejin35@example.net,서울특별시 관악구 관악로 500번길,2023-08-10,여
3,이영식,Y1DbTobuz4,0nouTyMZ$4,1938-07-18,016-7639-8751,yeongsungim@example.com,서울특별시 강북구 덕릉로 300번길,2023-09-13,남
4,김하윤,w0zO9YQ1iO,1Mi63VOcM_,1969-07-27,017-2215-7584,minjun91@example.net,서울특별시 동작구 동작대로 1200번길,2023-09-29,여
...,...,...,...,...,...,...,...,...,...
95,고아름,20yea5k17g,%N3T6tBjj&,1979-12-24,017-1320-7195,yejunjang@example.com,서울특별시 동작구 동작대로 1200번길,2023-07-10,여
96,이정숙,NWcGiRY2rQ,#l%Zhl^_!8,1993-07-10,010-5328-9392,hyeonsug12@example.com,서울특별시 마포구 마포대로 1300번길,2023-07-18,남
97,이상훈,sRK75wcKTk,)7@KtRjmR7,1989-11-01,010-2570-7896,ijeongho@example.net,서울특별시 종로구 종로 2300번길,2023-07-26,남
98,송현우,auh9jNElAL,sg_G7GMYV_,1993-10-24,010-8493-3856,junho71@example.org,서울특별시 양천구 목동동로 1900번길,2023-09-10,남
99,노지혜,uS0FMoLlSl,CvTRFevA+7,1938-03-10,02-4867-3183,baegmigyeong@example.org,서울특별시 종로구 종로 2300번길,2023-09-12,여

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           100 non-null    object
 1   ID             100 non-null    object
 2   PASSWORD       100 non-null    object
 3   BIRTHDATE      100 non-null    object
 4   PHONE_NUMBER   100 non-null    object
 5   EMAIL_ADDRESS  100 non-null    object
 6   ADDRESS        100 non-null    object
 7   JOIN_DATE      100 non-null    object
 8   GENDER_ID      100 non-null    object
dtypes: object(9)
memory usage: 7.2+ KB

In [50]:
df.to_csv('../../datasets/dummydata1.csv', index=False)

In [51]:
import pymongo as mg

In [52]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [53]:
database = client['project_data_analytics']

In [54]:
collection = database['DummyData_MemberInfo']

In [55]:
cursor = collection.find({})

In [56]:
df = pd.DataFrame(list(cursor))

In [57]:
df

,_id,NAME,ID,PASSWORD,BIRTHDATE,PHONE_NUMBER,EMAIL_ADDRESS,ADDRESS,GENDER_ID,JOIN_DATE
0,6524effe4a2a878233cd7410,한지민,gpmden,s4p45nvf,19790720,010-3941-4638,ed6rfbf6@daum.net,서울시 강남구 195번길,여,2023-10-08
1,6524effe4a2a878233cd7411,김민수,kcdcswvti,d7tx669yxpc,19860126,010-7322-2382,q77@daum.net,서울시 서초구 068번길,여,2023-07-10
2,6524effe4a2a878233cd7412,최민지,kbvxzqc,leibzddjey,19821005,010-8509-8186,kcwuu6@gmail.com,서울시 마포구 418번길,여,2023-07-28
3,6524effe4a2a878233cd7413,박영희,cihbstx,ly6ghuhx,19980104,010-5988-3329,c4d@naver.com,서울시 마포구 143번길,여,2023-08-14
4,6524effe4a2a878233cd7414,정태영,ibthi,r1d6c8nn9,19820110,010-1309-7911,lgf@yahoo.co.kr,서울시 동작구 826번길,남,2023-07-12
...,...,...,...,...,...,...,...,...,...,...
195,6524f0084a2a878233cd74d3,고아름,20yea5k17g,%N3T6tBjj&,1979-12-24 00:00:00,017-1320-7195,yejunjang@example.com,서울특별시 동작구 동작대로 1200번길,여,2023-07-10
196,6524f0084a2a878233cd74d4,이정숙,NWcGiRY2rQ,#l%Zhl^_!8,1993-07-10 00:00:00,010-5328-9392,hyeonsug12@example.com,서울특별시 마포구 마포대로 1300번길,남,2023-07-18
197,6524f0084a2a878233cd74d5,이상훈,sRK75wcKTk,)7@KtRjmR7,1989-11-01 00:00:00,010-2570-7896,ijeongho@example.net,서울특별시 종로구 종로 2300번길,남,2023-07-26
198,6524f0084a2a878233cd74d6,송현우,auh9jNElAL,sg_G7GMYV_,1993-10-24 00:00:00,010-8493-3856,junho71@example.org,서울특별시 양천구 목동동로 1900번길,남,2023-09-10
199,6524f0084a2a878233cd74d7,노지혜,uS0FMoLlSl,CvTRFevA+7,1938-03-10 00:00:00,02-4867-3183,baegmigyeong@example.org,서울특별시 종로구 종로 2300번길,여,2023-09-12

In [59]:
df.to_csv('../../datasets/DB_MemberInfo.csv')