In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\01-02\anaconda3\lib\site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: tzdata>=2022.1 in c:\users\01-02\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\01-02\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install faker

Collecting faker
  Downloading Faker-19.8.0-py3-none-any.whl (1.7 MB)
                                              0.0/1.7 MB ? eta -:--:--
     ---------                                0.4/1.7 MB 8.5 MB/s eta 0:00:01
     --------------------                     0.9/1.7 MB 9.5 MB/s eta 0:00:01
     --------------------------------         1.4/1.7 MB 9.7 MB/s eta 0:00:01
     ---------------------------------------  1.7/1.7 MB 9.9 MB/s eta 0:00:01
     ---------------------------------------- 1.7/1.7 MB 9.1 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.4 in c:\users\01-02\anaconda3\lib\site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\01-02\anaconda3\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Installing collected packages: faker
Successfully installed faker-19.8.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import random
import faker

# 무작위 데이터 생성을 위한 가짜 데이터 생성기 생성
fake = faker.Faker()

# 데이터 프레임을 위한 빈 리스트 생성
data = []

# 레코드 수 (100개)만큼 반복하여 무작위 데이터 생성
for _ in range(100):
    data.append({
        'NAME': fake.name(),
        'ID': fake.uuid4(),
        'PASSWORD': fake.password(),
        'BIRTHDATE': fake.date_of_birth(minimum_age=18, maximum_age=90).strftime('%Y-%m-%d'),
        'PHONE_NUMBER': fake.phone_number(),
        'EMAIL_ADDRESS': fake.email(),
        'ADDRESS': fake.address(),
        'UNIQUE_ID': fake.random_int(min=1000, max=9999),
        'GENDER_ID': random.choice(['남', '여'])
    })

# 데이터 프레임 생성
df = pd.DataFrame(data)

# 데이터 프레임 출력
print(df)

                  NAME                                    ID    PASSWORD  \
0         Angela Davis  5317f7e4-c622-4aea-8677-fe0fb11daad8  A!6A42tek7
1        Laura Schmidt  c0430a73-409f-4afb-bb88-268904e1bfd6  +YDPkE!rk1
2      Danielle George  a4540082-eb87-4cd0-bf09-3085ec9512bc  zO5SpveZ7+
3     Brittany Sanchez  6531d11f-168a-4ff9-a98b-4cf99f27c3f1  *mL%IoYkF1
4          Andre Brown  2e378881-e38e-4b88-8219-68d5c3dcf8e6  $0OqvMFhp0
..                 ...                                   ...         ...
95          Robin Reed  bb4582b8-f2fb-4dd5-8aa0-3adae6763e50  *6+p(vjqrQ
96  Miss Nicole Wilson  2cd3c56f-6df9-4c50-be3a-59a96c4d577f  )2XJyOViro
97      Judith Gardner  084b3ada-6a13-4a49-ab5c-e61df3f21751  pT3Pay+Q(X
98         Adam Hanson  24b8faa8-a013-4d5c-a3ac-6781d4ccd9f2  yw*$2MjPb%
99        Wendy Torres  659674a5-f9e3-403b-8174-ef1168c7d5bc  2*V%to5M+4

     BIRTHDATE            PHONE_NUMBER                EMAIL_ADDRESS  \
0   1940-03-15       490.985.7169x6918          nmiller@example.com
1   1943-01-16     +1-252-746-5335x502           iclark@example.com
2   2000-02-23        531-608-2398x361  williamsshannon@example.org
3   1978-12-11  001-662-454-7524x55574          megan49@example.net
4   1946-02-24       (298)320-1877x190    rebekahbishop@example.com
..         ...                     ...                          ...
95  1946-01-04         +1-697-481-4124  charleneramirez@example.org
96  1992-08-23        920-892-5448x407      jacobvaldez@example.net
97  1982-06-29     +1-959-805-3882x806        michael37@example.org
98  1953-06-19    001-761-827-1716x843     johncampbell@example.com
99  1968-11-20           (634)701-4536           inunez@example.org

                                              ADDRESS  UNIQUE_ID GENDER_ID
0             247 Duane Corners\nLake Stacy, AZ 31592       6753         여
1       022 Raymond Estates\nNorth Annmouth, ND 58291       9638         여
2             2510 Stone Union\nGarciamouth, CA 67752       2696         여
3         6004 Espinoza Curve\nSouth Brandy, VT 08248       5965         여
4                          USNV Barnett\nFPO AP 37146       5131         남
..                                                ...        ...       ...
95      02700 Susan Curve\nChristensenmouth, OH 38699       5267         남
96                   Unit 8589 Box 3662\nDPO AE 63123       9103         여
97  99537 Elizabeth Spurs\nEast Alexismouth, AK 84816       1142         여
98     745 Harrison Stravenue\nDouglasville, PA 00976       7626         남
99        873 Jenkins Forest\nLake Mckenzie, PR 30707       8052         남

[100 rows x 9 columns]

In [4]:
df = pd.DataFrame(df)
df

,NAME,ID,PASSWORD,BIRTHDATE,PHONE_NUMBER,EMAIL_ADDRESS,ADDRESS,UNIQUE_ID,GENDER_ID
0,Angela Davis,5317f7e4-c622-4aea-8677-fe0fb11daad8,A!6A42tek7,1940-03-15,490.985.7169x6918,nmiller@example.com,"247 Duane Corners\nLake Stacy, AZ 31592",6753,여
1,Laura Schmidt,c0430a73-409f-4afb-bb88-268904e1bfd6,+YDPkE!rk1,1943-01-16,+1-252-746-5335x502,iclark@example.com,"022 Raymond Estates\nNorth Annmouth, ND 58291",9638,여
2,Danielle George,a4540082-eb87-4cd0-bf09-3085ec9512bc,zO5SpveZ7+,2000-02-23,531-608-2398x361,williamsshannon@example.org,"2510 Stone Union\nGarciamouth, CA 67752",2696,여
3,Brittany Sanchez,6531d11f-168a-4ff9-a98b-4cf99f27c3f1,*mL%IoYkF1,1978-12-11,001-662-454-7524x55574,megan49@example.net,"6004 Espinoza Curve\nSouth Brandy, VT 08248",5965,여
4,Andre Brown,2e378881-e38e-4b88-8219-68d5c3dcf8e6,$0OqvMFhp0,1946-02-24,(298)320-1877x190,rebekahbishop@example.com,USNV Barnett\nFPO AP 37146,5131,남
...,...,...,...,...,...,...,...,...,...
95,Robin Reed,bb4582b8-f2fb-4dd5-8aa0-3adae6763e50,*6+p(vjqrQ,1946-01-04,+1-697-481-4124,charleneramirez@example.org,"02700 Susan Curve\nChristensenmouth, OH 38699",5267,남
96,Miss Nicole Wilson,2cd3c56f-6df9-4c50-be3a-59a96c4d577f,)2XJyOViro,1992-08-23,920-892-5448x407,jacobvaldez@example.net,Unit 8589 Box 3662\nDPO AE 63123,9103,여
97,Judith Gardner,084b3ada-6a13-4a49-ab5c-e61df3f21751,pT3Pay+Q(X,1982-06-29,+1-959-805-3882x806,michael37@example.org,"99537 Elizabeth Spurs\nEast Alexismouth, AK 84816",1142,여
98,Adam Hanson,24b8faa8-a013-4d5c-a3ac-6781d4ccd9f2,yw*$2MjPb%,1953-06-19,001-761-827-1716x843,johncampbell@example.com,"745 Harrison Stravenue\nDouglasville, PA 00976",7626,남
99,Wendy Torres,659674a5-f9e3-403b-8174-ef1168c7d5bc,2*V%to5M+4,1968-11-20,(634)701-4536,inunez@example.org,"873 Jenkins Forest\nLake Mckenzie, PR 30707",8052,남

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           100 non-null    object
 1   ID             100 non-null    object
 2   PASSWORD       100 non-null    object
 3   BIRTHDATE      100 non-null    object
 4   PHONE_NUMBER   100 non-null    object
 5   EMAIL_ADDRESS  100 non-null    object
 6   ADDRESS        100 non-null    object
 7   UNIQUE_ID      100 non-null    int64
 8   GENDER_ID      100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB