In [2]:
import pandas as pd
import pymongo as mg
client = mg.MongoClient(host='mongodb://localhost:27017')

In [8]:
database = client['project_data_analytics']
collection = database['reviews']

In [9]:
cursor = collection.find({})

In [10]:
data_list = list(cursor)

In [11]:
df_review = pd.DataFrame(data_list)
df_review

,_id,service_name,stars,reviews
0,650bb0b36fc4d13479415c96,김국빈,별표 5개 만점에 5개를 받았습니다.,"짐박스 이용자로서 정말 편하게 잘 사용하고 있습니다. 한 가지 건의사항으로, 다른 ..."
1,650bb0b56fc4d13479415c97,김국빈,별표 5개 만점에 5개를 받았습니다.,"짐박스 이용자로서 정말 편하게 잘 사용하고 있습니다. 한 가지 건의사항으로, 다른 ..."
2,650bb0b56fc4d13479415c98,율리우스시저,별표 5개 만점에 5개를 받았습니다.,지금까지 경험한 헬스관련 웹중에서 최고라고 생각합니다. 멤버십구독 뿐만 아니라 동기...
3,650bb0b56fc4d13479415c99,김국빈,별표 5개 만점에 5개를 받았습니다.,"짐박스 이용자로서 정말 편하게 잘 사용하고 있습니다. 한 가지 건의사항으로, 다른 ..."
4,650bb0b56fc4d13479415c9a,율리우스시저,별표 5개 만점에 5개를 받았습니다.,지금까지 경험한 헬스관련 웹중에서 최고라고 생각합니다. 멤버십구독 뿐만 아니라 동기...
...,...,...,...,...
266767,650bb1af4214830c4ce210b8,Google 사용자,별표 5개 만점에 1개를 받았습니다.,바코드 오류이유를 모르겠네요 도대체 몇번째인지 성질나서 사업장 시설 이용하던가 해야지
266768,650bb1af4214830c4ce210b9,Google 사용자,별표 5개 만점에 5개를 받았습니다.,좋습니다아오~!!
266769,650bb1af4214830c4ce210ba,오창원,별표 5개 만점에 5개를 받았습니다.,아주유용합니다
266770,650bb1af4214830c4ce210bb,철환박,별표 5개 만점에 5개를 받았습니다.,좋아요
266771,650bb1af4214830c4ce210bc,남박기수,별표 5개 만점에 5개를 받았습니다.,좋아여

### 전처리

In [12]:
df_review.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266772 entries, 0 to 266771
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   _id           266772 non-null  object
 1   service_name  266772 non-null  object
 2   stars         266772 non-null  object
 3   reviews       266772 non-null  object
dtypes: object(4)
memory usage: 8.1+ MB

In [14]:
# null값처리
df_review.isnull().sum()

_id             0
service_name    0
stars           0
reviews         0
dtype: int64

In [16]:
# 중복 처리
df_review = df_review.drop_duplicates(subset=['reviews'])
df_review

,_id,service_name,stars,reviews
0,650bb0b36fc4d13479415c96,김국빈,별표 5개 만점에 5개를 받았습니다.,"짐박스 이용자로서 정말 편하게 잘 사용하고 있습니다. 한 가지 건의사항으로, 다른 ..."
2,650bb0b56fc4d13479415c98,율리우스시저,별표 5개 만점에 5개를 받았습니다.,지금까지 경험한 헬스관련 웹중에서 최고라고 생각합니다. 멤버십구독 뿐만 아니라 동기...
5,650bb0b56fc4d13479415c9b,HYUNJUNG KWAK,별표 5개 만점에 5개를 받았습니다.,한달반정도 사용해보니 어플이 있어서 운동한날과 운동하지 않은 날 여부를 한 눈에 체...
9,650bb0b66fc4d13479415c9f,최무성,별표 5개 만점에 5개를 받았습니다.,짐박스 신림점 이용하고 있습니다. 일단 어플로 결제하는 시스템은 처음 이용하는데 너...
14,650bb0b66fc4d13479415ca4,kim sehoon,별표 5개 만점에 5개를 받았습니다.,짐박스 신림 2호점 정말 좋습니다. 기구도 다양하고 유산소 무산소 하는 곳도 많고 ...
...,...,...,...,...
264201,650bb1ae4214830c4ce206b2,Google 사용자,별표 5개 만점에 1개를 받았습니다.,이용도 못하고 월 회비만 나감
264713,650bb1ae4214830c4ce208b2,Google 사용자,별표 5개 만점에 1개를 받았습니다.,바코드 오류이유를 모르겠네요 도대체 몇번째인지 성질나서 사업장 시설 이용하던가 해야지
265226,650bb1ae4214830c4ce20ab3,Google 사용자,별표 5개 만점에 5개를 받았습니다.,좋습니다아오~!!
265740,650bb1ae4214830c4ce20cb5,오창원,별표 5개 만점에 5개를 받았습니다.,아주유용합니다
266771,650bb1af4214830c4ce210bc,남박기수,별표 5개 만점에 5개를 받았습니다.,좋아여

### csv

In [ ]:
df_review.to_csv('../../datasets/minjeong_mongoDB.csv')